{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notes base</title>
    <link rel="stylesheet" href="{% static 'subjects/style.css' %}">
    <link rel="stylesheet" href="{% static 'subjects/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Playfair+Display&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>