{% extends 'base.html' %}
{% block content %}
    <div class="div1">
        </div>
        <div class="test">
            {% if data %}
            <h3>uploaded files</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>subject</th>
                        <th>file</th>
                        <th>download</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in data %}
                    <tr>
                        <td>{{ file.name }}</td>
                        <td>{{ file.subject }}</td>
                        <td>{{ file.notes }}</td>
                        <td><a href="{{ file.file.url }}">{{ file.file.name }}</a></td>
                        <td><a href="delete/{{ file.id }}">delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        <p><a href="{% url 'home' %}">home</a> </p>
        </div>

    </div>

{% endblock %}
