
    <h3>Upload file</h3>
    <div class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                {{ message }}
                </div>

            {% endif %}
        {% endfor %}
    {% endif %}
    <form action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
           {{ form2.as_p }}

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
        <p><a href="{% url 'home' %}">home</a> </p>
    </div>